<div class="col-sm-6 col-sm-offset-6 col-layout-columns" ng-controller="FTPConfigurationEditCtrl">
    <div class="panel panel-column-3">
        <div class="panel-heading">
            <div class="pull-right">
                <button type="button" class="btn btn-sem2 btn-xs"
                        ng-click="ftpConfigurationForm.$show()" uib-tooltip="{{::'Modifier' | translate}}"
                        ng-disabled="ftpConfigurationForm.$visible" ng-show="loaded"
                        sem-roles-allowed="FTP_HAB1">
                    <span class="glyphicon-regular edit"></span>
                </button>
                <button type="button" class="btn btn-sem2 btn-xs"
                        ng-click="delete(configuration)" uib-tooltip="{{::'Supprimer' | translate}}" 
                        ng-disabled="!configuration || !configuration.identifier" ng-show="loaded"
                        sem-roles-allowed="FTP_HAB2">
                    <span class="glyphicon-halflings glyphicon-trash"></span>
                </button>
            </div>
            <h5 translate>Fiche</h5>
        </div>
        <div class="panel-body">
            <form editable-form name="ftpConfigurationForm" onaftersave="saveConfiguration()" ng-show="loaded"
                  ng-init="formRO = !isAuthorized([userRoles.FTP_HAB1])">
            
                <numa-editable-field title="{{::'Libellé' | translate}}" placeholder="{{::'Libellé' | translate}}" form="ftpConfigurationForm" 
                                    model="configuration.label" errors="{{ errors.label }}"  mandatory="true"
                                    onbeforesave="validation.required($data)" numa-readonly="formRO"></numa-editable-field>
                <numa-editable-field title="{{::'Adresse' | translate}}" placeholder="{{::'Adresse' | translate}}" form="ftpConfigurationForm" 
                                    model="configuration.address" errors="{{ errors.address }}" numa-readonly="formRO"></numa-editable-field>
                <numa-editable-field title="{{::'Login' | translate}}" placeholder="{{::'Login' | translate}}" form="ftpConfigurationForm" 
                                    model="configuration.login" errors="{{ errors.login }}" numa-readonly="formRO"></numa-editable-field>
                <numa-editable-field title="{{::'Mot de passe' | translate}}" placeholder="{{::'Mot de passe' | translate}}" 
                                    form="ftpConfigurationForm" model="configuration.password" errors="{{ errors.password }}" 
                                    numa-readonly="formRO"></numa-editable-field>
                <numa-editable-field title="{{::'Dossier de livraison' | translate}}" placeholder="{{::'Dossier de livraison' | translate}}" form="ftpConfigurationForm" 
                                    model="configuration.deliveryFolder" numa-readonly="formRO"></numa-editable-field>
                <numa-editable-field title="{{::'Bibliothèque' | translate}}" type="select" placeholder="{{::'Bibliothèque' | translate}}" form="ftpConfigurationForm" 
                                    model="configuration.library" errors="{{ errors.library }}" 
                                    onbeforesave="validation.required($data)" numa-readonly="formRO" mandatory="true"
                                    config="{ data: options.libraries, 
                                            display: 'name', 
                                            query: 'o.name for o in $ctrl.config.data track by o.identifier' }"
                                    link="{ type: 'library', parameters: {'id': configuration.library.identifier} }"></numa-editable-field>
                
                <div class="text-center column-bottom column-5 margin-t10" ng-if="ftpConfigurationForm.$visible">
                    <div class="column-bottom-button">
                        <!-- Création / Modification -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-sem4" ng-disabled="ftpConfigurationForm.$waiting" ng-click="cancel()">
                                <span class="glyphicon-regular unshare"></span> {{::'Annuler' | translate}}
                            </button>
                            <button type="submit" class="btn btn-sem2" sem-roles-allowed="FTP_HAB1">
                                <span class="glyphicon-regular floppy-save"></span> {{::'Enregistrer' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
