<div class="col-sm-6 col-sm-offset-6 col-layout-columns" ng-controller="OmekaConfigurationEditCtrl">
    <div class="panel panel-column-3">
        <div class="panel-heading">
            <div class="pull-right">
                <button type="button" class="btn btn-sem2 btn-xs"
                        ng-click="setViewMode(viewModes.EDIT)" ng-disabled="!configuration || !configuration.identifier"
                        uib-tooltip="{{::'Modifier' | translate}}"
                        ng-show="viewMode === viewModes.VIEW && loaded"
                        sem-roles-allowed="CONF_DIFFUSION_OMEKA_HAB1">
                    <span class="glyphicon-regular edit"></span>
                </button>
                <button type="button" class="btn btn-sem2 btn-xs"
                        ng-click="delete(configuration)" ng-disabled="!configuration || !configuration.identifier || !loaded"
                        uib-tooltip="{{::'Supprimer' | translate}}"
                        sem-roles-allowed="CONF_DIFFUSION_OMEKA_HAB2">
                    <span class="glyphicon-halflings glyphicon-trash"></span>
                </button>
            </div>
            <h5 translate>Fiche</h5>
        </div>
        <div class="panel-body" ng-show="loaded">
            <div>
                <sem-editable-form sem-name="configurationForm" sem-mode-edition="{{ viewMode == viewModes.EDIT }}"
                                   sem-server-error="{{ (configuration.errors | filter:{field: '_object'}:true) }}"
                                   ng-readonly="!isAuthorized([userRoles.CONF_DIFFUSION_OMEKA_HAB1, userRoles.CONF_DIFFUSION_OMEKA_HAB2])"
                                   sem-on-key-pressed="preventDefault(event)">
                    
                    <sem-editable-field sem-label="{{::'Libellé' | translate}}" sem-type="text" sem-model="configuration.label"
                                        onbeforesave="validation.required" onaftersave="onaftersave" mandatory="true"
                                        sem-server-error="{{ (configuration.errors | filter:{field: 'label'}:true) }}"></sem-editable-field>

                    
                    <sem-editable-field sem-label="{{::'Active' | translate}}" sem-type="semradiolist" sem-model="configuration.active"
                                        sem-form="configurationForm"
                                        onbeforesave="validation.required" onaftersave="onaftersave"
                                        e-ng-options="key as value for (key, value) in options"
                                        sem-server-error="{{ (configuration.errors | filter:{field: 'active'}:true) }}"
                                        sem-select-options="options.boolean"></sem-editable-field>

                    <sem-editable-field sem-label="{{::'Bibliothèque' | translate}}" sem-type="select" sem-model="configuration.library" mandatory="true"
                                        onbeforesave="validation.required" sem-select-options="options.libraries" e-ng-options="o.name for o in options track by o.identifier"
                                        onaftersave="onaftersave" sem-display-property="name" sem-link-type="library"
                                        sem-link-parameters='{"id": configuration.library.identifier}'></sem-editable-field>
                                        
                    <sem-editable-field sem-label="{{::'Serveur de stockage' | translate}}" sem-type="text" sem-model="configuration.storageServer"
                                        onbeforesave="validation.required" onaftersave="onaftersave" mandatory="true"
                                        sem-server-error="{{ (configuration.errors | filter:{field: 'storageServer'}:true) }}"></sem-editable-field>
                    <sem-editable-field sem-label="{{::'Port' | translate}}" sem-type="text" sem-model="configuration.port"
                                        onbeforesave="validation.required" onaftersave="onaftersave" mandatory="true"
                                        sem-server-error="{{ (configuration.errors | filter:{field: 'port'}:true) }}"></sem-editable-field>                    
                    <sem-editable-field sem-label="{{::'Adresse de dépôt' | translate}}" sem-type="text"
                                    sem-model="configuration.address" sem-server-error="{{ errors.address }}"></sem-editable-field>
                    <sem-editable-field sem-label="{{::'Login' | translate}}" sem-type="text" 
                                    sem-model="configuration.login" sem-server-error="{{ errors.login }}"></sem-editable-field>
                    <sem-editable-field sem-label="{{::'Mot de passe' | translate}}" sem-type="text" 
                                    sem-model="configuration.password" sem-server-error="{{ errors.password }}"></sem-editable-field>
                    <sem-editable-field sem-label="{{::'Url d\'accès Omeka' | translate}}" sem-type="text"
                                    sem-model="configuration.accessUrl" sem-server-error="{{ errors.accessUrl }}"></sem-editable-field>
                    <sem-editable-field sem-label="{{::'Email' | translate}}" sem-type="text"
                                    sem-model="configuration.mailCsv" sem-server-error="{{ errors.mailCsv }}"></sem-editable-field>                

                    <div uib-accordion>
                        <div uib-accordion-group is-open="accordions.collections">
                            <uib-accordion-heading>
                                <span class="pull-left glyphicon-halflings"
                                        ng-class="{false: 'glyphicon-chevron-right', true: 'glyphicon-chevron-down'}[accordions.collections]"/>
                                <span>{{::' Collections Omeka' | translate}}</span>
                            </uib-accordion-heading>
                            <button type="button" class="btn btn-sem2 btn-xs"
                                    ng-click="addCollection()"
                                    uib-tooltip="{{::'Ajouter' | translate}}"
                                    ng-show="viewMode === viewModes.EDIT && loaded"
                                    >
                                <span class="glyphicon-regular plus"></span>
                            </button>
                            <div class="pull-left"></div>
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center" translate>Nom</th>
                                    <th class="text-center" translate>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                        <tr ng-repeat="collection in configuration.omekaCollections">
                                            <td class="text-center">
                                                <sem-editable-field sem-type="text" sem-model="collection.name" onaftersave="onaftersave"
                                                sem-server-error="{{ (configuration.errors | filter:{field: 'collections'}:true) }}"></sem-editable-field>
                                            </td>
                                            <td class="text-center">
                                                    <button type="button" class="btn btn-sem2 btn-xs" 
                                                            ng-click="deleteCollection($index)" ng-show="viewMode === viewModes.EDIT"
                                                            uib-tooltip="{{::'Supprimer' | translate}}"
                                                            >
                                                        <span class="glyphicon-regular remove"></span>
                                                    </button>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div uib-accordion>
                        <div uib-accordion-group is-open="accordions.items">
                            <uib-accordion-heading>
                                <span class="pull-left glyphicon-halflings"
                                        ng-class="{false: 'glyphicon-chevron-right', true: 'glyphicon-chevron-down'}[accordions.items]"/>
                                <span>{{::' Types d\'items Omeka' | translate}}</span>
                            </uib-accordion-heading>
                            <button type="button" class="btn btn-sem2 btn-xs"
                                    ng-click="addItem()"
                                    uib-tooltip="{{::'Ajouter' | translate}}"
                                    ng-show="viewMode === viewModes.EDIT && loaded"
                                    >
                                <span class="glyphicon-regular plus"></span>
                            </button>
                            <div class="pull-left">
                            </div>
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center" translate>Nom</th>
                                    <th class="text-center" translate>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                        <tr ng-repeat="item in configuration.omekaItems">
                                            <td class="text-center">
                                                <sem-editable-field sem-type="text" sem-model="item.name" onaftersave="onaftersave"
                                                sem-server-error="{{ (configuration.errors | filter:{field: 'collections'}:true) }}"></sem-editable-field>
                                            </td>
                                            <td class="text-center">
                                                    <button type="button" class="btn btn-sem2 btn-xs" 
                                                            ng-click="deleteItem($index)" ng-show="viewMode === viewModes.EDIT"
                                                            uib-tooltip="{{::'Supprimer' | translate}}"
                                                            >
                                                        <span class="glyphicon-regular remove"></span>
                                                    </button>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </sem-editable-form>
                <div class="text-center column-bottom column-5 margin-t10" ng-if="viewMode === viewModes.EDIT">
                    <div class="column-bottom-button">
                        <!-- Création / Modification -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-sem4" ng-click="cancel()">
                                <span class="glyphicon-regular unshare"></span> {{::'Annuler' | translate}}
                            </button>
                            <button type="button" class="btn btn-sem2" ng-click="save()" sem-roles-allowed="CONF_DIFFUSION_OMEKA_HAB1">
                                <span class="glyphicon-regular floppy-save"></span> {{::'Enregistrer' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
