<div ng-controller="ProjectDocsCtrl as docCtrl" ng-init="docCtrl.init(projectId)">
    <div class="panel-heading">
        <div class="row margin-lr0">
            <div class="col-xs-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-sem2 btn-xs"
                            uib-tooltip="{{::'Ajouter des Unités Documentaires au projet' | translate}}"
                            sem-roles-allowed="DOC_UNIT_HAB2" ng-click="docCtrl.addDocUnits()">
                        <span class="glyphicon-halflings glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-sem2 btn-xs"
                            uib-tooltip="{{::'Retirer les unités documentaires sélectionnés du projet' | translate}}"
                            ng-disabled="docCtrl.selectedIds.length === 0 && docCtrl.isDocUnitLocked()" sem-roles-allowed="DOC_UNIT_HAB3"
                            ng-click="docCtrl.removeMultipleItems()">
                        <span class="glyphicon-halflings glyphicon-trash"></span>
                    </button>
                </div>
                <button type="button" class="btn btn-sem2 btn-xs" ng-click="docCtrl.checkAll()" ng-disabled="docCtrl.docUnits.length === 0">
                    {{::"Tout cocher" | translate}}
                </button>
                <button type="button" class="btn btn-sem2 btn-xs" ng-click="docCtrl.uncheckAll()" ng-disabled="docCtrl.selectedIds.length === 0">
                    {{::"Tout décocher" | translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive col-sm-12">
            <table class="table table-condensed table-hover" sem-table>
                <thead>
                <tr>
                    <th></th>
                    <th sem-table-sorton="pgcnId"><span translate>Identifiant PGCN</span></th>
                    <th sem-table-sorton="label"><span translate>Libellé</span></th>
                    <th sem-table-sorton="archivable"><span translate>Archivable</span></th>
                    <th sem-table-sorton="distributable"><span translate>Diffusable</span></th>
                    <th sem-table-sorton="library.name"><span translate>Bibliothèque</span></th>
                    <th style="width: 70px" translate>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in docCtrl.docUnits | orderBy:orderBy">
                    <td class="select-col">
                        <div class="checkbox checkbox-sid-main no-margin">
                            <input type="checkbox" ng-model="item.checked" ng-change="docCtrl.changeItem(item)"/>
                            <label></label>
                        </div>
                    </td>
                    <td>{{ ::item.pgcnId }}</td>
                    <td>
                        <span uib-tooltip="{{::item.label}}" tooltip-enable="item.label.length > 50">
                        {{ ::item.label | characters:50 }}
                        </span>
                    </td>
                    <td>{{ ::translate.boolean[item.archivable] }}</td>
                    <td>{{ ::translate.boolean[item.distributable] }}</td>
                    <td>{{ ::item.library.name }}</td>
                    <td class="text-right">
                        <a class="btn btn-sem2 btn-xs" uib-tooltip="{{ ::'Voir' | translate }}" ng-href="/#/document/all_operations/{{::item.identifier}}">
                            <span class="glyphicon-halflings glyphicon-share"></span>
                        </a>
                        <button type="button" class="btn btn-sem2 btn-xs"
                                ng-show="docCtrl.canRemoveFromProject(item)"
                                uib-tooltip="{{::'Retirer l\'unité documentaire du projet' | translate}}"
                                sem-roles-allowed="DOC_UNIT_HAB3"
                                ng-click="docCtrl.removeItem(item)">
                            <span class="glyphicon-halflings glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>