<div class="row">
    <div class="col-sm-12">
        <div>
            <span class="margin-lr15" ng-if="label">{{::label}}</span>
            <span class="btn-group-xs margin-l15 nowrap" ng-hide="readonly || isEdited()">
                <button type="button" class="btn btn-sem1 btn-removable" uib-tooltip="{{::'Supprimer' | translate}}" ng-click="delete()" ng-hide="hidedelete === 'true'">
                    <span class="glyphicon-halflings glyphicon-trash"></span>
                </button>
                <button type="button" class="btn btn-sem1 btn-removable" uib-tooltip="{{::'Ajouter' | translate}}" ng-click="add()" ng-show="showadd === 'true'">
                    <span class="glyphicon-halflings glyphicon-plus"></span>
                </button>
            </span>
            <span class="btn-group-xs margin-l15 nowrap" ng-hide="readonly || !isEdited()">
                <button type="button" class="btn btn-default" uib-tooltip="{{::'Annuler' | translate}}" ng-click="cancel()">
                    <span class="glyphicon-regular unshare"></span>
                </button>
                <button type="submit" class="btn btn-primary" uib-tooltip="{{::'Sauvegarder' | translate}}" ng-click="save()">
                    <span class="glyphicon-regular floppy-save"></span>
                </button>
            </span>
        </div>
        <small class="row has-error" ng-if="errText">
            <div class="col-sm-12 help-block" ng-bind-html="errText"></div>
        </small>
    </div>
</div>
