<div class="row layout-columns">
    <div ng-if="!mainCtrl.isFilteredByIds">
        <!-- Filtres -->
        <div id="sem-filters-toggle" class="button-toggle" sem-auto-hide-filters>
            <a ng-click="$semFilters.toggle()" class="link-toggle">
                <span class="glyphicon-regular filter"></span>
            </a>
        </div>
        <div id="sem-filters" sem-auto-hide-filters>
            <div class="panel no-print" ng-controller="FiltersController as FilterCtrl">
                <div class="panel-heading">
                    <span translate>Filtres</span>
                </div>
                <div class="panel-body">
                    <!-- Projet -->
                    <div class="filter-block">
                        <div class="filter-title">{{::'Projet' | translate}}</div>
                        <div class="filter-element">
                            <ui-select multiple ng-model="mainCtrl.filters.projects" theme="select2" on-select="mainCtrl.search()" on-remove="mainCtrl.search()"
                            class="form-control">
                                <ui-select-match placeholder="{{::'Projet' | translate}}">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="option in mainCtrl.options.projects | filter: $select.search track by option.identifier">
                                    <div ng-bind-html="option.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-layout-columns">
        <div class="panel panel-column-2 panel-column-first panel-column-end">
            <div class="panel-heading" style="margin-left: 0px" ng-if="mainCtrl.isFilteredByIds"></div>
            <div class="panel-heading" ng-if="!mainCtrl.isFilteredByIds">
                <!-- Barre de recherche -->
                <button type="button" class="btn btn-sem2 btn-xs pull-right" ng-click="mainCtrl.reinitFilters()" uib-tooltip="{{::'Réinitialiser les filtres de la recherche' | translate}}">
                    <span class="glyphicon-halflings glyphicon-refresh"></span>
                </button>
                <div class="input-group padding-r20">
                    <input class="form-control sem-input-xs" type="text" id="searchInput" ng-model="mainCtrl.searchRequest" sem-enter-key="mainCtrl.search()"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sem2 btn-xs" ng-click="mainCtrl.search()" uib-tooltip="{{::'Rechercher' | translate}}">
                            <span class="glyphicon syrtis-icon-loupe"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="well well-sm" ng-show="mainCtrl.loaded && mainCtrl.pagination.items.length == 0" translate>
                    Aucun lot trouvé
                </div>
                <div class="well well-sm" ng-show="mainCtrl.loaded && mainCtrl.pagination.items.length > 0" translate translate-n="mainCtrl.pagination.totalItems"
                    translate-plural="{{$count}} lots trouvés">
                    1 lot trouvé
                </div>
                <div class="form-inline">
                    <button type="button" ng-hide="mainCtrl.pagination.items.length == 0" class="btn btn-sem2 btn-xs" ng-click="mainCtrl.checkAll()">
                        {{::"Tout cocher" | translate}}
                    </button>
                    <button type="button" ng-hide="mainCtrl.pagination.items.length == 0" class="btn btn-sem2 btn-xs" ng-disabled="mainCtrl.selectedLength === 0"
                        ng-click="mainCtrl.uncheckAll()">
                        {{::"Tout décocher" | translate}}
                    </button>
                    <select id="pageSize" name="pageSize" class="form-control input-sm" ng-hide="mainCtrl.pagination.items.length == 0" ng-options="size.value as size.label for size in mainCtrl.sizeOptions"
                        ng-model="mainCtrl.pageSize" ng-change="mainCtrl.changePageSize()">
                    </select>
                    <div class="btn-group pull-right" style="display: inline" uib-dropdown ng-if="!mainCtrl.action">
                        <button type="button" class="btn btn-sem2 btn-xs" ng-disabled="mainCtrl.selectedLength === 0" uib-dropdown-toggle>
                            <b class="caret"></b>&nbsp;{{ ::'Actions sur la sélection' | translate }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                            <!-- Ajouter la sélection à un nouveau projet -->
                            <li role="menuitem">
                                <a ng-click="mainCtrl.addSelectionToNewProject()" class="btn-xs">
                                    <span class="glyphicon-halflings glyphicon-plus"></span>
                                    {{::'Ajouter à un nouveau projet' | translate}}
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <!-- Suppression de la sélection -->
                            <li role="menuitem" sem-roles-allowed="LOT_HAB3">
                                <a ng-click="mainCtrl.deleteSelection()" class="btn-xs">
                                    <span class="glyphicon-halflings glyphicon-trash"></span>
                                    {{::'Supprimer la sélection' | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Callback -->
                    <div class="pull-right" style="display: inline" ng-if="mainCtrl.action">
                        <button type="button" class="btn btn-sem3 btn-xs" ng-click="mainCtrl.action.cancel()">
                            <span class="glyphicon-regular unshare"></span>&nbsp;{{ mainCtrl.action.cancelLabel }}
                        </button>
                        <button type="button" class="btn btn-sem2 btn-xs" ng-disabled="mainCtrl.selectedLength === 0" ng-click="mainCtrl.action.callback()">
                            <span class="glyphicon-halflings glyphicon-plus"></span>&nbsp;{{ mainCtrl.action.label }}
                        </button>
                    </div>
                </div>

                <!-- Liste des entités  -->
                <div class="table-responsive" ng-show="mainCtrl.pagination.items.length > 0">
                    <table class="table table-hover sem-list" sem-table="mainCtrl.sortModel" sem-table-onsort="mainCtrl.search(mainCtrl.sortModel)">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center" sem-table-sorton="label">{{::"Libellé" | translate }}</th>
                                <th class="text-center" sem-table-sorton="project.name">{{::"Projet" | translate }}</th>
                                <th class="text-center" sem-table-sorton="status">{{::"Statut" | translate }}</th>
                                <th class="text-center" sem-table-sorton="type">{{::"Type" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in mainCtrl.pagination.items">
                                <td class="select-col">
                                    <div class="checkbox checkbox-sid-main no-margin">
                                        <input type="checkbox" ng-model="item.checked" ng-change="mainCtrl.changeItem(item)" />
                                        <label></label>
                                    </div>
                                </td>
                                <td>
                                    <a ng-href="{{ ::mainCtrl.getUrlLot(item.identifier) }}" uib-tooltip="{{::item.label}}" tooltip-enable="item.label.length > 30">
                                        {{ ::item.label | characters:50 }}
                                    </a>
                                </td>
                                <td class="text-center">
                                    <div ng-if="item.project">
                                        <a ng-href="{{ ::mainCtrl.getUrlProject(item.project.identifier) }}">
                                            {{::item.project.name | characters:50 }}
                                        </a>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div>
                                            {{::mainCtrl.displayStatus(item.status)}}
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div>
                                            {{::mainCtrl.displayType(item.type)}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" ng-show="mainCtrl.pagination.size && mainCtrl.pagination.totalItems > mainCtrl.pagination.size">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <ul uib-pagination num-pages="mainCtrl.pagination.totalPages" total-items="mainCtrl.pagination.totalItems" items-per-page="mainCtrl.pagination.size"
                                ng-change="mainCtrl.getPage()" ng-model="mainCtrl.pagination.page" class="pagination-sm"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>