<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 ng-init="username = account.login" translate>Changer le mot de passe pour [<b>{{username}}</b>]</h2>

            <div class="alert alert-success" ng-show="success" translate>Le mot de passe a été modifié !</div>
            <div class="alert alert-danger" ng-show="error" translate><strong>Une erreur est survenue!</strong> Le mot de passe n'a pas pu être modifié.</div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate>Le nouveau mot de passe et sa confirmation ne sont pas égaux !</div>

            <form name="form" role="form" novalidate class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength" ng-submit="changePassword()">
                <div class="form-group">
                    <label translate>Nouveau mot de passe</label>
                    <input type="password" class="form-control" name="password" placeholder="{{::'Nouveau mot de passe' | translate}}" ng-model="password" ng-minlength="5" ng-maxlength="50" required />
                    <div class="error" ng-show="form.password.$dirty && form.password.$invalid">
                        <small class="error" ng-show="form.password.$error.required" translate> Votre mot de passe est requis. </small>
                        <small class="error" ng-show="form.password.$error.minlength" translate> Votre mot de passe doit comporter au moins 5 caractères </small>
                        <small class="error" ng-show="form.password.$error.maxlength" translate> Votre mot de passe ne doit pas comporter plus de 50 caractères </small>
                    </div>
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label translate>Confirmation du nouveau mot de passe</label>
                    <input
                        type="password"
                        class="form-control"
                        name="confirmPassword"
                        placeholder="{{::'Confirmation du nouveau mot de passe' | translate}}"
                        ng-model="confirmPassword"
                        ng-minlength="5"
                        ng-maxlength="50"
                        required
                    />
                    <div class="error" ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <small class="error" ng-show="form.confirmPassword.$error.required" translate> Votre confirmation du mot de passe est requis. </small>
                        <small class="error" ng-show="form.confirmPassword.$error.minlength" translate> Votre confirmation du mot de passe doit comporter au moins 5 caractères </small>
                        <small class="error" ng-show="form.confirmPassword.$error.maxlength" translate> Votre confirmation du mot de passe ne doit pas comporter plus de 50 caractères </small>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate>Sauvegarder</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
