*.iml
.DS_Store
.classpath
.gradle
.idea
.merge_file*
.project
.sass-cache
.settings
.tmp
/build
/data
node
node_modules
src/main/webapp/dist
target
spring_loaded/
src/main/webapp/styles/main.css
.externalToolBuilders/
*.log
/bin/
src/main/webapp/.vscode/
velocity.log.1
.temp-PGCN App-classpathOnly-*.jar
.factorypath
.vscode/
.npm/
