<div class="row layout-columns">
    <div class="col-sm-3 col-lg-2 col-layout-columns">
        <div class="panel panel-column-1">
            <div class="panel-heading">
                <button type="button" class="btn btn-sem2 btn-xs pull-right"
                        ng-click="mainCtrl.create()" uib-tooltip="{{::'Créer' | translate}}">
                    <span class="glyphicon-halflings glyphicon-plus"></span>
                </button>
                <span translate>Templates</span>
            </div>
            <div class="panel-body">
                <div class="list padding-b20" ng-repeat="lib in mainCtrl.libraries | orderBy:mainCtrl.sortLibrary">
                    <div class="filter-title">{{ ::lib.name }}</div>
                    <div class="list"
                         ng-repeat="tpl in mainCtrl.templates | filter:{ library: { identifier : lib.identifier } } | orderBy:'name'">
                        <a ng-click="mainCtrl.edit(tpl)" ng-class="{'active': tpl === mainCtrl.editedTemplate}">
                            <span>{{ mainCtrl.displayTemplateName(tpl.name) }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="mainCtrl.configurationInclude"></ng-include>
</div>
