<div class="panel panel-default" ng-controller="RelationsAllOperationsCtrl as relCtrl" ng-init="relCtrl.init(mainCtrl.docUnit)">
    <div class="panel-body">
        <div class="formBlock margin-b60">
            <div class="formBlockTitle">
                <span translate>Unité documentaire parente</span>
                <!-- Sélection de l'unité documentaire parente -->
                <button type="button" class="btn btn-syr-cataloging-action btn-xs margin-l10"
                        uib-tooltip="{{ 'Ajouter une unité documentaire parente' | translate}}"
                        ng-click="relCtrl.selectParent()" ng-show="!relCtrl.docUnit.parentIdentifier"
                        sem-roles-allowed="DOC_UNIT_HAB2">
                    <span class="glyphicon-halflings glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="formBlockContent">
                <!-- Unité documentaire parente -->
                <div ng-if="relCtrl.docUnit.parentIdentifier">
                    <!-- Lien vers l'unité documentaire parente -->
                    <a class="btn btn-syr-cataloging-action btn-xs" ng-href="/#/document/all_operations/{{relCtrl.docUnit.parentIdentifier}}">
                        <span class="glyphicon-halflings glyphicon-share"></span>
                    </a>
                    <!-- Sélection de l'unité documentaire parente -->
                    <button type="button" class="btn btn-syr-cataloging-action btn-xs"
                            uib-tooltip="{{ 'Modifier l\'unité documentaire parente' | translate}}"
                            ng-click="relCtrl.selectParent()">
                        <span class="glyphicon-halflings glyphicon-option-horizontal"></span>
                    </button>
                    <!-- Suppression du lien vers l'unité documentaire parente -->
                    <button type="button" class="btn btn-syr-cataloging-action btn-xs"
                            uib-tooltip="{{ 'Supprimer le lien vers l\'unité documentaire parente' | translate}}"
                            ng-click="relCtrl.removeParent()">
                        <span class="glyphicon-halflings glyphicon-trash"></span>
                    </button>
                    <b>{{ relCtrl.docUnit.parentPgcnId }}</b> {{ relCtrl.docUnit.parentLabel }}&nbsp;
                </div>
            </div>
        </div>
        <div class="formBlock margin-b60">
            <div class="formBlockTitle">
                <span translate>Unités documentaires filles</span>
                <!-- Création d'une unité documentaire fille -->
                <button type="button" class="btn btn-syr-cataloging-action btn-xs margin-l10"
                        uib-tooltip="{{ 'Créer une unité documentaire fille' | translate}}"
                        ng-click="relCtrl.newChild()" sem-roles-allowed="DOC_UNIT_HAB2">
                    <span class="glyphicon-halflings glyphicon-plus"></span>
                </button>
                <!-- Ajout d'une unité documentaire fille -->
                <button type="button" class="btn btn-syr-cataloging-action btn-xs"
                        uib-tooltip="{{ 'Ajouter une unité documentaire fille existante' | translate}}"
                        ng-click="relCtrl.addChild()" sem-roles-allowed="DOC_UNIT_HAB2">
                    <span class="glyphicon-halflings glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="formBlockContent">
                <!-- Unités documentaires filles -->
                <ul class="list-group" ng-if="relCtrl.children.length > 0">
                    <li class="list-group-item" ng-repeat="ch in relCtrl.children | orderBy:'pgcnId'">
                        <!-- Lien vers l'unité documentaire fille -->
                        <a class="btn btn-syr-cataloging-action btn-xs" ng-href="/#/document/all_operations/{{ch.identifier}}">
                            <span class="glyphicon-halflings glyphicon-share"></span>
                        </a>
                        <!-- Suppression du lien vers l'unité documentaire parente -->
                        <button type="button" class="btn btn-syr-cataloging-action btn-xs"
                                uib-tooltip="{{ 'Supprimer le lien vers l\'unité documentaire' | translate}}"
                                ng-click="relCtrl.removeChild(ch)">
                            <span class="glyphicon-halflings glyphicon-trash"></span>
                        </button>
                        <b>{{ ::ch.pgcnId }}</b> {{ ::ch.label }}&nbsp;
                    </li>
                </ul>
            </div>
        </div>
        <div class="formBlock">
            <div class="formBlockTitle">
                <span translate>Unités documentaires soeurs</span>
                <!-- Ajout d'une unité documentaire soeur -->
                <button type="button" class="btn btn-syr-cataloging-action btn-xs"
                        uib-tooltip="{{ 'Ajouter une unité documentaire soeur existante' | translate}}"
                        ng-click="relCtrl.addSibling()" sem-roles-allowed="DOC_UNIT_HAB2">
                    <span class="glyphicon-halflings glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="formBlockContent">
                <!-- Unités documentaires soeurs -->
                <ul class="list-group" ng-if="relCtrl.siblings.length > 0">
                    <li class="list-group-item" ng-repeat="sib in relCtrl.siblings | orderBy:'pgcnId'">
                        <!-- Lien vers l'unité documentaire soeur -->
                        <a class="btn btn-syr-cataloging-action btn-xs" ng-href="/#/document/all_operations/{{sib.identifier}}">
                            <span class="glyphicon-halflings glyphicon-share"></span>
                        </a>
                        <!-- Suppression du lien vers l'unité documentaire soeur -->
                        <button type="button" class="btn btn-syr-cataloging-action btn-xs"
                                uib-tooltip="{{ 'Supprimer le lien vers l\'unité documentaire' | translate}}"
                                ng-click="relCtrl.removeSibling(sib)">
                            <span class="glyphicon-halflings glyphicon-trash"></span>
                        </button>
                        <b>{{ ::sib.pgcnId }}</b> {{ ::sib.label }}&nbsp;
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>