<h5>
      <span ng-if="$ctrl.showLibrary">
            <a ng-href="{{$ctrl.linkLibrary}}">{{$ctrl.displayLibrary}}</a>
      </span>
      <span ng-if="$ctrl.showProject">
            <span class="glyphicon-halflings glyphicon-chevron-right x05"></span>
            <a ng-href="{{$ctrl.linkProject}}">{{$ctrl.displayProject}}</a>
      </span>
      <span ng-if="$ctrl.showLot">
            <span class="glyphicon-halflings glyphicon-chevron-right x05"></span>
            <a ng-href="{{$ctrl.linkLot}}">{{$ctrl.displayLot}}</a>
      </span>
      <span ng-if="$ctrl.showTrain">
            <span class="glyphicon-halflings glyphicon-chevron-right x05"></span>
            <a ng-href="{{$ctrl.linkTrain}}">{{$ctrl.displayTrain}}</a>
      </span>
      <span ng-if="$ctrl.showDelivery">
            <span class="glyphicon-halflings glyphicon-chevron-right x05"></span>
            <a ng-href="{{$ctrl.linkDelivery}}">{{$ctrl.displayDelivery}}</a>
      </span>
      <span ng-if="$ctrl.showDocUnit">
            <span class="glyphicon-halflings glyphicon-chevron-right x05"></span>
            <a ng-href="{{$ctrl.linkDocUnit}}">{{$ctrl.displayDocUnit}}</a>
      </span>
</h5>