<div class="row vertical-align" ng-hide="hideIfEmpty && !model">
    <div ng-class="labelclass || 'col-xs-4'" class="text-right" ng-if="label">
        <label uib-tooltip="{{tooltip}}">{{::label}}</label>
        <!-- Mandatory -->
        <span class="text-danger cursor-help" 
              uib-tooltip="{{ ::'Ce champ est obligatoire' | translate }}" ng-if="mandatory">*</span>
    </div>
	<div class="model-container" ng-class="{true: (fieldclass || defaultcolsm) + ' has-error', false: (fieldclass || defaultcolsm) }[!!errMsg]">
		<input main-field type="hidden" class="form-control" ng-model="model" ui-select2="optionData"
               ng-disabled="readonly" data-placeholder="{{::label}}"/>
		<div class="help-block" ng-show="errMsg" ng-bind-html="errMsg"></div>
	</div>
</div>
