<div class="modal-header">
    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
    <h3 class="modal-title" translate>Ajout d'un widget</h3>
</div>
<div class="modal-body">
    <table class="table table-condensed no-border">
        <tbody>
            <tr ng-repeat="(key, widget) in widgets">
                <td class="nowrap"><a class="bold" ng-click="addWidget(key)">{{::widget.title}}</a></td>
                <td><em>{{::widget.description}}</em></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="closeDialog()" translate>Fermer</button>
</div>
