<div class="modal-header">
    <h4 class="modal-title">{{ ::'Supprimer' | translate }} {{widget.title}}</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="widgetTitle" translate>Êtes-vous sûr de vouloir supprimer ce widget ?</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeDialog()" translate>Annuler</button>
    <button type="button" class="btn btn-primary" ng-click="deleteDialog()" translate>Supprimer</button>
</div>
