<div class="modal-header">
    <h3 class="modal-title" translate>Export CSV</h3>
</div>
<div class="modal-body">
    <div ng-if="::mainCtrl.loaded">
        <div class="clearfix"></div>
        <!-- DC-->
        <button type="button" class="btn btn-sem1 btn-xs margin-t5 pull-right" ng-click="mainCtrl.checkAll('dc')"
                uib-tooltip="{{::'Sélectionner tous les champs Dublin Core' | translate}}"><span class="fa fa-check-square-o"></span></button>
        <sem-field sem-type="uiselect" sem-label="{{::'Dublin Core' | translate}}"
                sem-label-class="col-xs-5" sem-field-class="col-xs-7"
                sem-model="mainCtrl.export.dc" sem-option-data="mainCtrl.options.dc"></sem-field>
        <!-- DCQ-->
        <button type="button" class="btn btn-sem1 btn-xs margin-t5 pull-right" ng-click="mainCtrl.checkAll('dcq')"
                uib-tooltip="{{::'Sélectionner tous les champs Dublin Core Qualified' | translate}}"><span class="fa fa-check-square-o"></span></button>
        <sem-field sem-type="uiselect" sem-label="{{::'Dublin Core Qualified' | translate}}"
                sem-label-class="col-xs-5" sem-field-class="col-xs-7"
                sem-model="mainCtrl.export.dcq" sem-option-data="mainCtrl.options.dcq"></sem-field>
        <!-- Custom-->
        <button type="button" class="btn btn-sem1 btn-xs margin-t5 pull-right" ng-click="mainCtrl.checkAll('custom')"
                uib-tooltip="{{::'Sélectionner tous les champs personnalisés' | translate}}"><span class="fa fa-check-square-o"></span></button>
        <sem-field sem-type="uiselect" sem-label="{{::'Champs personnalisés' | translate}}"
                sem-label-class="col-xs-5" sem-field-class="col-xs-7"
                sem-model="mainCtrl.export.custom" sem-option-data="mainCtrl.options.custom"></sem-field>
        <!-- Unité documentaire-->
        <button type="button" class="btn btn-sem1 btn-xs margin-t5 pull-right" ng-click="mainCtrl.checkAll('docfield')"
                uib-tooltip="{{::'Sélectionner tous les champs de l\'unité documentaire' | translate}}"><span class="fa fa-check-square-o"></span></button>
        <sem-field sem-type="uiselect" sem-label="{{::'Unité documentaire' | translate}}"
                sem-label-class="col-xs-5" sem-field-class="col-xs-7"
                sem-model="mainCtrl.export.docfield" sem-option-data="mainCtrl.options.docUnitFields"></sem-field>
        <!-- Notice bibliographique-->
        <button type="button" class="btn btn-sem1 btn-xs margin-t5 pull-right" ng-click="mainCtrl.checkAll('bibfield')"
                uib-tooltip="{{::'Sélectionner tous les champs de la notice bibliographique' | translate}}"><span class="fa fa-check-square-o"></span></button>
        <sem-field sem-type="uiselect" sem-label="{{::'Notice bibliographique' | translate}}"
                sem-label-class="col-xs-5" sem-field-class="col-xs-7"
                sem-model="mainCtrl.export.bibfield" sem-option-data="mainCtrl.options.bibRecordFields"></sem-field>
        <!-- Document physique-->
        <button type="button" class="btn btn-sem1 btn-xs margin-t5 pull-right" ng-click="mainCtrl.checkAll('physfield')"
                uib-tooltip="{{::'Sélectionner tous les champs du document physique' | translate}}"><span class="fa fa-check-square-o"></span></button>
        <sem-field sem-type="uiselect" sem-label="{{::'Document physique' | translate}}"
                sem-label-class="col-xs-5" sem-field-class="col-xs-7"
                sem-model="mainCtrl.export.physfield" sem-option-data="mainCtrl.options.physFields"></sem-field>

        <!-- Séparateur -->
        <hr class="margin-t20" />
        <div class="row margin-t10 margin-b10">
            <div class="col-xs-5 text-right">
                <label translate>Séparateur</label>
            </div>
            <div class="col-xs-7 text-left">
                <div class="radio radio-sid-main radio-inline" style="margin-left: 0px; margin-right: 10px"
                     ng-repeat="o in mainCtrl.options.separator">
                    <input type="radio" id="sep-{{::$index}}" ng-model="mainCtrl.export.separatorOpt" ng-value="o">
                    <label for="sep-{{::$index}}">{{::o.label}}</label>
                    <input type="text" class="form-control" style="height: 28px; width: 40px; display: inline" maxlength="1"
                           ng-model="mainCtrl.export.separator" ng-if="o.code === '__OTHER__'"
                           ng-change="mainCtrl.selectSeparator('__OTHER__')" />
                </div>
            </div>
        </div>
        <!-- Encodage -->
        <sem-field sem-type="select" sem-label="{{::'Encodage' | translate}}"
                   sem-label-class="col-xs-5" sem-field-class="col-xs-7"
                   sem-model="mainCtrl.export.encoding"
                   sem-select-options="o.code as o.label for o in optionData"
                   sem-option-data="mainCtrl.options.encoding"></sem-field>
    </div>
</div>
<div class="modal-footer">
    <div class="text-danger margin-b10" ng-show="mainCtrl.message">{{mainCtrl.message}}</div>

    <button type="button" class="btn btn-sem4" ng-click="mainCtrl.cancel()">
        <span class="glyphicon-regular unshare"></span> {{::'Annuler' | translate}}
    </button>
    <button type="button" class="btn btn-sem2" ng-click="mainCtrl.confirm()" ng-disabled="!mainCtrl.isValid()">
        <span class="glyphicon-regular floppy-save"></span> {{::'Valider' | translate}}
    </button>
</div>
