#workflowModelEditStates canvas#workflowModelCanvas {
    border: 3px solid #ccc;
    border-radius: 5px;
}

#workflowModelEditStates {
    margin-top: 50px;
}

#workflowModelEditStates button {
    margin: 10px 20px;
    width: 150px;
    white-space: normal;
}

#workflowModelEditStates button div {
    height: 100%;
}

#workflowModelEditStates .btn-model-red {
    background-color: #ff0000;
}
#workflowModelEditStates .btn-model-green {
    background-color: #2e8b57;
}
#workflowModelEditStates .btn-model-orange {
    background-color: #ffa500;
}
#workflowModelEditStates .btn-model-blue {
    background-color: #87cefa;
}
#workflowModelEditStates .btn-model-grey {
    background-color: #d3d3d3;
}
