.panel-body.communication-rules {
    table {
        th.header-group {
            width: 12%;
        }
        td input.input-sm {
            max-width: 60px;
        }
        td div.input-group {
            width: 60px;
            height: 28px;
            div.input-group-addon {
                padding: 3px 10px;
                height: 28px;
            }
        }
    }
}
