

.syrtis-icon-books-01:before {
  content: "a";
}
.syrtis-icon-books-02:before {
  content: "b";
}
.syrtis-icon-user-add:before {
  content: "c";
}
.syrtis-icon-retraction:before {
  content: "d";
}
.syrtis-icon-prefs:before {
  content: "e";
}
.syrtis-icon-page-file:before {
  content: "f";
}
.syrtis-icon-magazine:before {
  content: "g";
}
.syrtis-icon-loupe:before {
  content: "h";
}
.syrtis-icon-champ-add:before {
  content: "i";
}
.syrtis-icon-delete-user:before {
  content: "j";
}
.syrtis-icon-champ-delete:before {
  content: "k";
}
.syrtis-icon-feux-tricolores:before {
  content: "l";
}
.syrtis-icon-fleche-down:before {
  content: "m";
}
.syrtis-icon-fleche-left:before {
  content: "n";
}
.syrtis-icon-fleche-right:before {
  content: "o";
}
.syrtis-icon-fleche-up:before {
  content: "p";
}
.syrtis-icon-handshake:before {
  content: "q";
}
.syrtis-icon-head-01:before {
  content: "r";
}
.syrtis-icon-head-pref-utilisateur:before {
  content: "s";
}
.syrtis-icon-new-cercle:before {
  content: "I";
}
.syrtis-icon-new-square:before {
  content: "J";
}
.syrtis-icon-new-triangle:before {
  content: "K";
}
.syrtis-icon-panier:before {
  content: "t";
}
.syrtis-icon-archives:before {
  content: "u";
}
.syrtis-icon-archives-plus:before {
  content: "v";
}
