@import '../../../node_modules/font-awesome/scss/variables';
@import '../../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox';

.checkbox input[type='checkbox']:checked + label:after {
    font-family: 'Glyphicons Regular';
    content: '\E207';
}

.checkbox label:after {
    padding-left: 4px;
    padding-top: 2px;
    font-size: 9px;
}

.checkbox input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    cursor: pointer;
}

input.full-width {
    box-sizing: border-box;
    width: 100%;
}

// Checkbox and radio are styled with the sid main color
@include checkbox-variant('.checkbox-sid-main', $sid-main-color);
@include radio-variant('.radio-sid-main', $sid-main-color);

.checkbox-sid-main-inv input[type='checkbox']:checked + label,
.checkbox-sid-main-inv input[type='radio']:checked + label {
    &::before {
        background-color: #fff;
        border-color: #fff;
    }
    &::after {
        color: red; /*$sid-main-color;*/
        font-size: 12px;
        padding-top: 0;
        padding-left: 3px;
        padding-right: 50px;
    }
}
