.navbar-sem {
    @media (min-width: $screen-sm-min) {
        max-height: 56px;
    }

    min-height: 56px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid $sid-fourth-color;

    .container {
        padding-left: 65px;

        .navbar-collapse {
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .navbar-bottom {
        @media (max-width: $screen-sm-max) {
            padding-left: 70px;
        }
    }
    .navbar-header {
        .input-group {
            margin-top: 11px;
            margin-left: 50px;

            > * {
                background: transparent;
                border: none;
            }
            > .input-group-addon {
                cursor: pointer;
                padding-top: 0px;
            }
        }
        .form-control {
            -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075);
            box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

            &:focus {
                border-color: #66afe9;
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
        }
    }
    .menu-tabs {
        margin-left: 30px;
        margin-right: 10px;
    }
    .menu-tabs {
        > li + li {
            margin-left: 5px;
        }
        > li > a {
            border: none;
            color: $sid-main-color;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        > li.active > a,
        > li.active > a:hover {
            background-color: #e2dfda;
        }
    }
    .navbar-logo > img {
        height: 40px;
        margin: 5px 10px 5px 10px;
    }
    .btn-menu {
        margin: 8px 5px;
    }
    .btn .glyphicon {
        font-size: 12pt;
    }
    .header-logo {
        float: left;
    }
    .header-search {
        float: left;
    }
    .header-lang {
        position: absolute;
        right: 30px;
        z-index: 10000;
    }
}
