.modal-dialog {
    input.form-control, select.form-control {
        padding: 0 12px;
    }
    @media (max-width: $screen-xs-max) {
        margin: 10px 10px 10px 60px;
    }
}

/* Calage droit fenetre controle ocr */
.modal.modal_ocr > .modal-dialog {
    width: 400px;
    margin-top: 95px;
    margin-right: 30px;
    overflow:auto;
}

.modal-scrollable {
    height:80vh;
    overflow:auto;
}

ul.dropdown-menu {
	z-index : 10000
}

/* Création d'une modal extra large */
@media (min-width: $screen-lg-min) {
  .modal-xl { width: 1150px; }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .modal-xl { width: $modal-lg; }
}

.thumbnail > img.error-thumbnail {
    border: 8px solid #ff0000 !important;
}