/** Composant: document -> allOperations **/
.workflow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.workflow__notExist {
    display: flex;
    align-items: center;
}
.workflow__notExist--message {
    margin: 1em;
}
.workflow__notExist--button {}

/** Composant: menuLeft **/
.longMenu {
    max-height: 25rem;
    overflow: auto;
}
