/** SCSS spécifique aux impressions */
@media print {
    a[href]:after {
        content: "" !important; /** override bootstrap */
    }
    .layout-columns .panel-column-1 {
        padding-left: 0px;
    }
    .no-print {
        display: none;
    }
    #sem-menu, .btn {
        @extend .no-print;
    }
}
