body {
    overflow-x: hidden;
}

#sem-menu {
    position: fixed;
    height: 100%;
    width: 250px;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    padding: 0;
    padding-top: 55px;
    z-index: 1010;

    @media (max-width : $screen-sm-max) {
       padding-top: 0;
       z-index: 10000;
    }

	&.show {
	    transform: translateX(0);
	    -webkit-transform: translateX(0);
	    transition-duration: 0.3s;
	    -webkit-transition-duration: 0.3s;
	}

	.link-toggle>span {
	   margin-right: 14px;
	}
}

#sem-filters {
    position: fixed;
    left: 50px;
    height: calc(100% - 103px);
    top: 103px;
    width: 350px;
    border: 0;
    transform: translateX(-350px);
    -webkit-transform: translateX(-350px);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    padding: 0;
    z-index: 999;
    overflow-y: auto;

    @media (max-width : $screen-sm-max) {
       padding-top: 0;
       z-index: 999;
    }

    &.show {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
    }

    .link-toggle>span {
       padding-right: 0;
    }

    > .panel {
        margin-bottom: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .panel-body {
        padding-right: 20px;
    }
}

#sem-infos {

    position: fixed;
    height: 100%;

    width: 250px;
    height: calc(100% - 100px);
    margin-top: 50px;
    right: 0;
    overflow: auto;
    padding-bottom: 250px;

    transform: translateX(+200px);
    -webkit-transform: translateX(+200px);
    transition-duration: 0.35s;
    -webkit-transition-duration: 0.35s;
    padding: 0;
    z-index: 1000;

    &.show {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
    }

    &.notif-info-point {
        width: 35px;
    }
}

#sem-content {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    padding-top: 56px;

    @media (max-width : $screen-xs-max) {
        padding-top: 103px;
    }

    &.menu-left-on {
    	padding-left: 50px;
    }
    .page-header {
        margin-top: 20px;
    }
}

#sem-menu.show+#sem-content {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#sem-content>.container {
    padding-right: 15px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

#sem-menu.show+#sem-content>.container {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

@media (min-width: 768px) {
    #sem-content>.container {
        width: auto;
    }
    .navbar-sem>.container {
        padding-left: 30px;
        width: auto;
    }
    #sem-menu.show+#sem-content>.container {
        width: auto;
    }

}
@media (min-width: 833px) {
    #sem-content>.container, .navbar-sem>.container {
        width: 750px;
    }
    #sem-menu.show+#sem-content>.container {
        width: 550px;
    }
}
@media (min-width: 1057px) {
    #sem-content>.container, .navbar-sem>.container {
        width: 970px;
    }
    #sem-menu.show+#sem-content>.container {
        width: 770px;
    }
}
@media (min-width: 1265px) {
    #sem-content>.container, .navbar-sem>.container {
        width: 1170px;
    }
    #sem-menu.show+#sem-content>.container {
        width: 970px;
    }
}

#sem-menu {
	text-align: right;
	>.nav-pills {
    	width: 250px;
    	> li > a {
			padding: 10px 15px;
			@media (max-width : $screen-sm-max) {
			     padding: 2px 15px;
            }
		}
   	}

   	.button-toggle > a {
        color: $sid-menu-font-color;
        margin-top: 11px;
        margin-bottom: 10px;
        @media (max-width : $screen-sm-max) {
            margin-top: 2px;
            margin-bottom: 2px;
        }

    }
}

#sem-menu {
    background-color: $sid-main-color;
    //text-align: right;

	.dropdown-menu.open {
	    display: block;

		&.dropright {
		    color: $sid-main-color;
		    left: 100%;
		    top: -3px;

			>li>a:hover, >li>a:focus {
			    color: $sid-menu-font-color;
			    border: none;
			}
		}
	}
	.dropdown-menu.dropright>li>a {
	    color: $sid-main-color;
	}
	li.active>.dropdown-menu.dropright {
	    margin-left: 0px;
	}
	>.nav-pills {
		a {
			border-radius: 0px;
		    color: $sid-menu-font-color;
            font-weight: normal;

			&:hover, &:focus {
			    background-color: $sid-sec-color;
			}
		}

		>li.active>a {
		    font-weight: bold;
		}
		.nav-pills>li {
		    margin-top: 0px;

			>a {
			    padding: 0px 60px 0px 15px;
			}
		}
	}
	span {
		&.menu-label {
	    	width: 200px;
		}
		&.glyphicon, &.fa {
		    width: 50px;
		    font-size: 1.5em;
		}
	}
	.button-toggle {
        border-bottom: 1px solid $sid-menu-font-color;
        margin-bottom: 5px;
    }

}

#sem-infos, #sem-filters {
    span {
        &.menu-label {
            width: 200px;
        }
    }
    .button-toggle {
        border-bottom: 1px solid $sid-menu-font-color;
        margin-bottom: 5px;
    }
    >.panel {
        background-color: $sid-fourth-color;
        color: $sid-text-light;
    }
    uib-accordion div .panel {
        background-color: $sid-fourth-color;
        color: $sid-text-light;
    }
    .btn-sem1 {
        color: $sid-text-light
    }
    .formBlockTitle {
        background-color: $sid-fourth-color;
    }
}

#sem-infos-toggle, #sem-filters-toggle {
    span {
        &.menu-label {
            width: 200px;
        }
        &.glyphicon, &.fa {
            width: 50px;
            padding-top: 12px;
            font-size: 1.5em;
        }
    }
    .button-toggle {
        border-bottom: 1px solid $sid-menu-font-color;
        margin-bottom: 5px;
    }
    width: 50px;
    height: 47px;
    text-align: center;
    position: fixed;
    top: 56px;
}

#sem-infos-toggle {
    right: 0;
    span {
        &.glyphicon, &.fa {
            height: 47px;
        }
    }
}

#sem-filters-toggle {
    span {
        &.glyphicon, &.fa {
            height: 46px;
        }
    }
    left: 50px;
    z-index: 550;
    border: 1px $sid-fourth-color solid;
}
