.subscription-alert {
	text-align : center;
	padding : 10px 5px;
	margin-right : 15px;
}

.subscription-to-be-renewed {
	background-color : #CCFF66;
}

.subscription-grace {
	background-color : #FF9933;
}

.subscription-expired {
	background-color : #FF3300;
}

.subscription-alert-all-operations {
	text-align : center;
	padding : 5px 10px;
}

div.panel-content-all-operations {
	margin : 0;
	padding : 0;
}
