treecontrol.tree-light li.tree-expanded i {
	background: none;
}

// label de plus haut niveau : racines de l arbre
treecontrol {
	>ul {
		margin-left: -25px;
	}
	
	.topConcept.list .second {
		font-weight: bold;
		color: $sid-main-color;
	}
	.secondLevel.list .second {
		color: $sid-main-color;
	}
	.circle {
	    background-color: white;
		height: 10px;
		width: 10px;
		-webkit-border-radius: 75px;
		display: inline-block;
		-moz-border-radius: 75px;
		margin-bottom: 0;
		margin-top: 5px;
		margin-right: 5px;
	}
	.tree-selected {
		font-weight: normal !important;
	}
	.tree-label {
		width: 100%;
	}

	.list {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		margin-top: 1px;
		&.active {
			margin-left:-5px !important;
			padding-left:5px !important;
		}
	}
}

treecontrol li.tree-expanded i.tree-leaf-head, treecontrol li.tree-collapsed i.tree-leaf-head {display:none;}
treecontrol li.tree-expanded i.tree-branch-head, treecontrol li.tree-collapsed i.tree-branch-head {display:table-cell;}

treecontrol li.tree-leaf i.tree-branch-head {display:none;}
treecontrol li.tree-leaf i.tree-leaf-head {display:table-cell;} 

treecontrol li .tree-label {display:table-cell;}

.expanded-leaf {
	background: url("../images/tree-controls/expanded-leaf.png") no-repeat 5px 6px !important;
}

.collapsed-leaf {
	background: url("../images/tree-controls/collapsed-leaf.png") no-repeat 7px 6px !important;
}