.label-sem-light-blue {
    background-color: $sid-fourth-color;
}

.label-sem-warning {
    background-color: $sid-state-warn;
}

.label-sem-grey {
    background-color: grey;
}

.sem-danger {
    color: $sid-text-danger;
}
