<div class="row layout-columns">
    <div class="col-sm-12 col-layout-columns">
        <div class="panel panel-column-1 panel-column-end">
            <!-- Filtrage du tableau -->
            <numa-filter data-class="pull-left btn-filter">
                <!-- Colonnes -->
                <numa-filter-field data-title="{{ ::'Colonnes' | translate }}">
                    <sem-field sem-type="uiselect" sem-model="statCtrl.columns" sem-option-data="statCtrl.config.columns" 
                                sem-onchange="statCtrl.saveColumns()"></sem-field>
                </numa-filter-field>
                <!-- Bibliothèques -->
                <numa-filter-field data-title="{{ ::'Bibliothèque' | translate }}" ng-if="statCtrl.showLib">
                    <sem-field sem-type="uiselect" sem-model="statCtrl.filters.library" sem-option-data="statCtrl.config.libraries"
                               sem-onchange="statCtrl.search()"></sem-field>
                </numa-filter-field>
                <!-- Projet -->
                <numa-filter-field data-title="{{ ::'Projet' | translate }}">
                    <sem-field sem-type="uiselect" sem-model="statCtrl.filters.project" sem-option-data="statCtrl.config.projects" 
                               sem-onchange="statCtrl.search()"></sem-field>
                </numa-filter-field>
                <!-- Lot -->
                <numa-filter-field data-title="{{ ::'Lot' | translate }}">
                    <sem-field sem-type="uiselect" sem-model="statCtrl.filters.lot" sem-option-data="statCtrl.config.lots" 
                               sem-onchange="statCtrl.search()"></sem-field>
                </numa-filter-field>
                <!-- éléments -->
                <numa-filter-field data-title="{{ ::'éléments' | translate }}">
                    <sem-field sem-type="uiselect" sem-model="statCtrl.filters.role" sem-option-data="statCtrl.config.roles" 
                               sem-onchange="statCtrl.search()"></sem-field>
                </numa-filter-field>
                <!-- Étape de workflow -->
                <numa-filter-field data-title="{{ ::'Étape' | translate }}">
                    <sem-field sem-type="uiselect" sem-model="statCtrl.filters.state" sem-option-data="statCtrl.config.states" 
                               sem-onchange="statCtrl.search()"></sem-field>
                </numa-filter-field>
                <!-- Période -->
                <numa-filter-field data-title="{{ ::'Période' | translate }}">
                    <div class="form-inline text-right margin-b10">
                        <label translate>entre le</label>
                        <sem-datepicker ng-model="statCtrl.filters.from" sem-model-options="{ debounce: 300 }"
                                        ng-change="statCtrl.searchDates($data, statCtrl.filters.to)"></sem-datepicker>
                    </div>
                    <div class="form-inline text-right">
                        <label translate>et le</label>
                        <sem-datepicker ng-model="statCtrl.filters.to" sem-model-options="{ debounce: 300 }"
                                        ng-change="statCtrl.searchDates(statCtrl.filters.from, $data)"></sem-datepicker>
                    </div>
                </numa-filter-field>
            </numa-filter>
            <!-- Entête -->
            <div class="panel-heading">
                <div class="pull-right">
                    <button type="button" class="btn btn-sem2 btn-xs" 
                            ng-click="statCtrl.reinitFilters()" uib-tooltip="{{::'Réinitialiser les filtres de la recherche' | translate}}">
                        <span class="glyphicon-halflings glyphicon-refresh"></span>
                    </button>
                    <a class="btn btn-sem2 btn-xs" 
                            ng-href="{{statCtrl.getExportUrl()}}" uib-tooltip="{{::'Export CSV' | translate}}">
                        <span class="fa fa-download"></span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="statCtrl.loaded">
                    <div class="well" ng-show="statCtrl.items.length == 0" translate>
                        Aucun élément trouvé
                    </div>
                    <div ng-show="statCtrl.items.length > 0" class="well well-sm" translate
                        translate-n="statCtrl.items.length"
                        translate-plural="{{$count}} éléments trouvés">
                        1 élément trouvé
                    </div>
                </div>
                <!-- Liste des entités  -->
                <div class="table-responsive" ng-show="statCtrl.items.length > 0">
                    <table class="table table-hover sem-list">
                        <thead>
                        <tr>
                            <th class="text-center h6 bold" ng-if="statCtrl.showLib && statCtrl.isVisible({identifier: 'library'})" translate>Bibliothèque</th>
                            <th class="text-center h6 bold" ng-if="statCtrl.isVisible({identifier: 'role'})" translate>Profil</th>
                            <th class="text-center h6 bold" ng-if="statCtrl.isVisible({identifier: 'project'})" translate>Projet</th>
                            <th class="text-center h6 bold" ng-if="statCtrl.isVisible({identifier: 'lot'})" translate>Lot</th>
                            <th class="text-center h6 bold" ng-if="statCtrl.isVisible({identifier: 'pgcnId'})" translate>PGCN Id</th>
                            <th class="text-center h6 bold" ng-if="statCtrl.isVisible({identifier: 'state'})" translate>Étape</th>
                            <th class="text-center h6 bold" ng-if="statCtrl.isVisible({identifier: 'start'})" translate>Début</th>
                            <th class="text-center h6 bold" ng-if="statCtrl.isVisible({identifier: 'duration'})" translate>Durée</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in statCtrl.items | orderBy:['libraryName', 'roleLabel', 'projectName', 'lotLabel', 'docPgcnId', 'startDate']">
                            <td class="text-right" ng-if="statCtrl.showLib && statCtrl.isVisible({identifier: 'library'})">
                                {{ ::item.libraryName }} 
                                <numa-custom-link numa-link-type="library"
                                                  numa-link-parameters="{id: item.libraryIdentifier}"
                                                  ng-if="item.libraryIdentifier"></numa-custom-link>
                            </td>
                            <td class="text-right" ng-if="statCtrl.isVisible({identifier: 'role'})">
                                {{ ::item.roleLabel }} 
                            </td>
                            <td class="text-right" ng-if="statCtrl.isVisible({identifier: 'project'})">
                                {{ ::item.projectName }} 
                                <numa-custom-link numa-link-type="project"
                                                  numa-link-parameters="{id: item.projectIdentifier}"
                                                  ng-if="item.projectIdentifier"></numa-custom-link>
                            </td>
                            <td class="text-right" ng-if="statCtrl.isVisible({identifier: 'lot'})">
                                {{ ::item.lotLabel }} 
                                <numa-custom-link numa-link-type="lot"
                                                  numa-link-parameters="{id: item.lotIdentifier}"
                                                  ng-if="item.lotIdentifier"></numa-custom-link>
                            </td>
                            <td class="text-right nowrap" ng-if="statCtrl.isVisible({identifier: 'pgcnId'})">
                                {{ ::item.docPgcnId }} 
                                <numa-custom-link numa-link-type="docunit"
                                                  numa-link-parameters="{id: item.docIdentifier}"
                                                  ng-if="item.docIdentifier"></numa-custom-link>
                            </td>
                            <td class="text-right" ng-if="statCtrl.isVisible({identifier: 'state'})">
                                {{ ::statCtrl.code['workflow.' + item.state] || item.state }}
                            </td>
                            <td class="text-right nowrap" ng-if="statCtrl.isVisible({identifier: 'start'})">
                                {{ ::item._start | moment:'L LT' }}
                            </td>
                            <td class="text-right nowrap" ng-if="statCtrl.isVisible({identifier: 'duration'})">
                                {{ ::item.duration | duration:'minute' }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
