<div class="row layout-columns">
    <div class="col-sm-12 col-layout-columns">
        <div class="panel panel-column-1 panel-column-end">
            <!-- Filtrage du tableau -->
            <numa-filter data-class="pull-left btn-filter">
                <!-- Colonnes -->
                <numa-filter-field data-title="{{ ::'Colonnes' | translate }}">
                    <sem-field sem-type="uiselect" sem-model="statCtrl.columns" sem-option-data="statCtrl.config.columns" 
                                sem-onchange="statCtrl.saveColumns()"></sem-field>
                </numa-filter-field>
                <!-- Bibliothèques -->
                <numa-filter-field data-title="{{ ::'Bibliothèque' | translate }}" ng-if="statCtrl.showLib">
                    <sem-field sem-type="uiselect" sem-model="statCtrl.filters.library" sem-option-data="statCtrl.config.libraries"
                               sem-onchange="statCtrl.search()"></sem-field>
                </numa-filter-field>
                <!-- Projet -->
                <numa-filter-field data-title="{{ ::'Projet' | translate }}">
                    <sem-field sem-type="uiselect" sem-model="statCtrl.filters.project" sem-option-data="statCtrl.config.projects" 
                               sem-onchange="statCtrl.search()"></sem-field>
                </numa-filter-field>
                <!-- Détail des lots-->
                <div class="filter-block padding-l20">
                    <div class="checkbox checkbox-sid-main">
                        <input id="filterLotProgress" type="checkbox" ng-model="statCtrl.filters.lotProgress" ng-change="statCtrl.search()" />
                        <label for="filterLotProgress" translate>Détail des lots</label>
                    </div>
                </div>
                <!-- Date -->
                <numa-filter-field data-title="{{ ::'Date' | translate }}">
                    <div class="form-inline text-right margin-b10">
                        <label translate>entre le</label>
                        <sem-datepicker ng-model="statCtrl.filters.from" sem-model-options="{ debounce: 300 }"
                                        ng-change="statCtrl.searchValue('from', $data)"></sem-datepicker>
                    </div>
                    <div class="form-inline text-right">
                        <label translate>et le</label>
                        <sem-datepicker ng-model="statCtrl.filters.to" sem-model-options="{ debounce: 300 }"
                                        ng-change="statCtrl.searchValue('to', $data)"></sem-datepicker>
                    </div>
                </numa-filter-field>
            </numa-filter>
            <!-- Entête -->
            <div class="panel-heading">
                <div class="pull-right">
                    <button type="button" class="btn btn-sem2 btn-xs" 
                            ng-click="statCtrl.reinitFilters()" uib-tooltip="{{::'Réinitialiser les filtres de la recherche' | translate}}">
                        <span class="glyphicon-halflings glyphicon-refresh"></span>
                    </button>
                    <a class="btn btn-sem2 btn-xs" 
                            ng-href="{{statCtrl.getExportUrl()}}" uib-tooltip="{{::'Export CSV' | translate}}">
                        <span class="fa fa-download"></span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="statCtrl.loaded">
                    <div class="well" ng-show="statCtrl.pagination.items.length == 0" ng-if="statCtrl.filters.lotProgress" translate>
                        Aucun lot trouvé
                    </div>
                    <div class="well well-sm" ng-show="statCtrl.pagination.items.length > 0" ng-if="statCtrl.filters.lotProgress" 
                        translate translate-n="statCtrl.pagination.totalItems" translate-plural="{{$count}} lots trouvés">
                        1 lot trouvé
                    </div>
                    <div class="well" ng-show="statCtrl.pagination.items.length == 0" ng-if="!statCtrl.filters.lotProgress" translate>
                        Aucun projet trouvé
                    </div>
                    <div class="well well-sm" ng-show="statCtrl.pagination.items.length > 0" ng-if="!statCtrl.filters.lotProgress" 
                        translate translate-n="statCtrl.pagination.totalItems" translate-plural="{{$count}} projets trouvés">
                        1 projet trouvé
                    </div>
                    <select id="pageSize" name="pageSize" 
                            ng-hide="statCtrl.pagination.items.length == 0" ng-options="size.value as size.label for size in statCtrl.sizeOptions" 
                            ng-model="statCtrl.pageSize" ng-change="statCtrl.changePageSize()">
                    </select>
                </div>
                <!-- Liste des entités  -->
                <div class="table-responsive" ng-show="statCtrl.pagination.items.length > 0 && !statCtrl.pagination.busy">
                    <table class="table table-hover sem-list">
                        <thead>
                        <tr>
                            <th class="text-center h6 bold" ng-if="statCtrl.showLib" translate>Bibliothèque</th>
                            <th class="text-center h6 bold" translate>Projet</th>
                            <th class="text-center h6 bold" translate>Statut</th>
                            <th class="text-center h6 bold" translate>Lot</th>
                            <th class="text-right h6 bold" ng-repeat="col in statCtrl.config.columns.data | filter:statCtrl.isVisible">{{ ::col.label }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in statCtrl.pagination.items" 
                            ng-class="{'warning': statCtrl.filters.lotProgress && item.projectIdentifier && !item.lotIdentifier}">
                            <td class="text-right vcenter" ng-if="statCtrl.showLib">
                                {{ ::item.libraryName }} 
                                <numa-custom-link numa-link-type="library"
                                                  numa-link-parameters="{id: item.libraryIdentifier}"
                                                  ng-if="item.libraryIdentifier"></numa-custom-link>
                            </td>
                            <td class="text-right vcenter">
                                {{ ::item.projectName }} 
                                <numa-custom-link numa-link-type="project"
                                                  numa-link-parameters="{id: item.projectIdentifier}"
                                                  ng-if="item.projectIdentifier"></numa-custom-link>
                            </td>
                            <td class="text-right vcenter">
                                {{ ::statCtrl.status[item.projectStatus] || item.projectStatus }} 
                            </td>
                            <td class="text-right vcenter" ng-if="item.lotIdentifier">
                                {{ ::item.lotLabel }} 
                                <numa-custom-link numa-link-type="lot"
                                                  numa-link-parameters="{id: item.lotIdentifier}"
                                                  ng-if="item.lotIdentifier"></numa-custom-link>
                            </td>
                            <td class="text-center vcenter" ng-if="!item.lotIdentifier">
                                <span class="badge" 
                                      ng-class="statCtrl.filters.lotProgress ? 'btn-sem4' : 'btn-sem2'"
                                      ng-if="item.projectIdentifier && item.nbLots > 0"
                                      translate translate-n="item.nbLots" translate-plural="{{$count}} lots">1 lot</span>
                            </td>
                            <td class="text-right vcenter"
                                ng-repeat="col in statCtrl.config.columns.data | filter:statCtrl.isVisible"
                                ng-switch="col.type">
                                <!-- Nombre entier -->
                                <span ng-switch-when="number">{{ ::item[col.identifier] | number }}</span>
                                <!-- Moyenne -->
                                <span ng-switch-when="average">{{ ::item[col.identifier] | number:2 }}</span>
                                <!-- Pourcentage -->
                                <span ng-switch-when="percent">
                                    <uib-progressbar value="item[col.identifier]" max="1">
                                        <span ng-style="item[col.identifier] === 0 ? {color:'#000'} : {}">{{ ::item[col.identifier] | percent }}</span>
                                    </uib-progressbar>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" ng-show="statCtrl.pagination.size && statCtrl.pagination.totalItems > statCtrl.pagination.size">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <ul uib-pagination num-pages="statCtrl.pagination.totalPages" total-items="statCtrl.pagination.totalItems"
                                items-per-page="statCtrl.pagination.size" ng-change="statCtrl.getPage()" ng-model="statCtrl.pagination.page"
                                class="pagination-sm"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
