<div class="modal-header">
    <h3 class="modal-title" translate>Modifier les unités documentaires</h3>
</div>
<div class="modal-body">
    <!-- Item  -->
    <div ng-if="mainCtrl.loaded">
        <form name="updateForm">
            <div class="row">
                <div class="col-md-12 text-center margin-t10">
                    <span translate>Archivable :</span>
                    <input
                        bs-switch
                        ng-model="mainCtrl.values.archivable"
                        type="checkbox"
                        ng-change="updateArchivable()"
                        switch-readonly=""
                        switch-on-text="{{ 'OUI' | translate }}"
                        switch-off-text="{{ 'NON' | translate }}"
                        switch-label-width="0px"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center margin-t10 margin-b10">
                    <span translate>Diffusable :</span>
                    <input
                        bs-switch
                        ng-model="mainCtrl.values.distributable"
                        type="checkbox"
                        ng-change="updateDistributable()"
                        switch-readonly=""
                        switch-on-text="{{ 'OUI' | translate }}"
                        switch-off-text="{{ 'NON' | translate }}"
                        switch-label-width="0px"
                    />
                </div>
            </div>

            <sem-field
                sem-type="select"
                sem-label="{{::'Type de constat d\'état' | translate}}"
                sem-model="mainCtrl.values.reportType"
                sem-select-options="option.label for option in optionData track by option.identifier"
                sem-option-data="mainCtrl.options.condreportTypes"
            ></sem-field>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sem2" ng-click="mainCtrl.close()" translate>Annuler et fermer la fenêtre</button>
    <button type="button" class="btn btn-sem2" ng-click="mainCtrl.update()" ng-disabled="createForm.$invalid" sem-roles-allowed="PROJ_HAB0">
        <span class="glyphicon-regular floppy-save"></span> {{::'Modifier la sélection' | translate}}
    </button>
</div>
