<div class="modal-header">
    <h3 class="modal-title" translate>Mise à jour de notices</h3>
</div>
<div class="modal-body">
    <div ng-if="::mainCtrl.loaded">
        <!-- Champs -->
        <div class="formBlock">
            <div class="formBlockTitle" translate>Champs</div>
            <div class="formBlockContent">
                <table class="table table-condensed no-border">
                    <tbody>
                        <tr ng-repeat="field in mainCtrl.updates.fields">
                            <td style="width: 40px; padding-top: 12px">
                                <span class="btn-group-xs margin-l15">
                                    <button type="button" class="btn btn-sem1 btn-removable" uib-tooltip="{{::'Supprimer' | translate}}" 
                                            ng-click="mainCtrl.deleteField(field)">
                                        <span class="glyphicon-halflings glyphicon-trash"></span>
                                    </button>
                                </span>
                            </td>
                            <td style="width: 30%">
                                <sem-field sem-type="select" sem-model="field.type"
                                           sem-select-options="option.code as option.label for option in optionData | orderBy:'rank'"
                                           sem-option-data="mainCtrl.fields"></sem-field>
                            </td>
                            <td>
                                <sem-field sem-type="text" sem-model="field.value"></sem-field>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <span class="btn-group-xs margin-l15">
                                    <button type="button" class="btn btn-sem1" uib-tooltip="{{::'Ajouter' | translate}}"
                                            ng-click="mainCtrl.addField()">
                                        <span class="glyphicon-halflings glyphicon-plus"></span>
                                        <i translate>Ajouter un nouveau champ</i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- Propriétés -->
        <div class="formBlock">
            <div class="formBlockTitle" translate>Propriétés</div>
            <div class="formBlockContent">
                <table class="table table-condensed no-border">
                    <tbody>
                        <tr ng-repeat="property in mainCtrl.updates.properties">
                            <td style="width: 40px; padding-top: 12px">
                                <span class="btn-group-xs margin-l15">
                                    <button type="button" class="btn btn-sem1 btn-removable" uib-tooltip="{{::'Supprimer' | translate}}" 
                                            ng-click="mainCtrl.deleteProperty(property)">
                                        <span class="glyphicon-halflings glyphicon-trash"></span>
                                    </button>
                                </span>
                            </td>
                            <td style="width: 30%">
                                <sem-field sem-type="select" sem-model="property.type"
                                        sem-select-options="option.label group by option.superType for option in optionData | orderBy:['superType', 'rank'] track by option.identifier"
                                        sem-option-data="mainCtrl.types"></sem-field>
                            </td>
                            <td ng-switch="property.type.identifier">
                                <sem-field sem-type="textarea" sem-model="property.value" ng-switch-when="description"></sem-field>
                                <sem-field sem-type="text" sem-model="property.value" ng-switch-default></sem-field>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <span class="btn-group-xs margin-l15">
                                    <button type="button" class="btn btn-sem1" uib-tooltip="{{::'Ajouter' | translate}}"
                                            ng-click="mainCtrl.addProperty()">
                                        <span class="glyphicon-halflings glyphicon-plus"></span>
                                        <i translate>Ajouter une nouvelle propriété</i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sem4" ng-click="mainCtrl.close()" translate>Annuler et fermer la fenêtre</button>
    <button type="button" class="btn btn-sem2" ng-click="mainCtrl.applyUpdates()">
        <span class="glyphicon-regular floppy-save"></span> {{::'Appliquer' | translate}}
    </button>
</div>
