<div ng-repeat="(state, list) in $ctrl.pendingStatByStep" ng-class="::$ctrl.topClass">
    <div class="panel panel-dashboard">
        <div class="panel-heading collapsed pointer" data-toggle="collapse" data-target="#alert-workflow-todo-{{::state}}">
            <h3 class="panel-title">
                <span class="badge pull-right">{{ list.length }}</span>
                <span>{{ ::$ctrl.code['workflow.' + state] || state }}</span>
            </h3>
        </div>
        <div class="panel-body no-padding">
            <div class="table-responsive collapse" id="alert-workflow-todo-{{::state}}">
                <table class="table table-striped table-hover margin-b5">
                    <thead>
                        <tr>
                            <th class="text-left" translate>Projet</th>
                            <th class="text-left" translate>Lot</th>
                            <th class="text-left" translate>PGCN Id</th>
                            <th ng_if="'CONTROLE_QUALITE_EN_COURS'===state || 'VALIDATION_DOCUMENT'===state" class="text-left" translate>Statut</th>
                            <th ng_if="'CONTROLE_QUALITE_EN_COURS'===state" class="text-left" translate>Nb.pages</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in list">
                            <td class="text-left">
                                {{ ::item.projectName }}
                            </td>
                            <td class="text-left">
                                {{ ::item.lotLabel }}
                            </td>
                            <td class="text-left nowrap">
                                {{ ::item.docPgcnId }}
                            </td>
                            <td class="text-left nowrap" ng_if="'CONTROLE_QUALITE_EN_COURS'===state || 'VALIDATION_DOCUMENT'===state">
                                {{ ::$ctrl.code['digitalDocument.' + item.docStatus] }}
                            </td>
                            <td class="text-center nowrap" ng_if="'CONTROLE_QUALITE_EN_COURS'===state">
                                {{ ::item.totalPage }}
                            </td>
                            <td class="text-right">
                                <numa-workflow-link 
                                                  numa-link-parameters="{item: item, state: state}" 
                                                  ng-if="item.docIdentifier"></numa-workflow-link>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
