<div class="row layout-columns">
    <div class="col-sm-9 col-layout-columns">
        <div class="panel panel-column-1">
            <div class="panel-heading"></div>
            <div class="panel-body" style="padding: 0 0 0 0">
                <div class="row text-center" ng-if="data.validation" translate>Pages notées en erreur</div>
                <!-- Integration viewer -->
                <a ng-include src="'scripts/app/viewer/vision.html'" width="100%" height="98%"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-sm-offset-9 col-layout-columns">
        <div class="panel panel-column-2 panel-column-end">
            <div class="panel-heading">
                <span translate>Prévisualisation du document numérique</span>
            </div>
            <div class="panel-body">
                <!-- Début infos UD -->
                <uib-accordion>
                    <div class="formBlock margin-t0">
                        <div class="formBlockTitle" ng-click="accDocUnit = !accDocUnit">
                            <span
                                class="glyphicon-halflings"
                                ng-class="{false: 'glyphicon-chevron-right',
		                                     true: 'glyphicon-chevron-down'}[accDocUnit]"
                            ></span>
                            <span translate>Unité documentaire :&nbsp;</span>{{::digitalDocument.docUnit.pgcnId}}
                        </div>
                        <!-- Infos cachées lorsque l'accordion est replié -->
                        <div class="formBlockContent margin-t0" uib-accordion-group is-open="accDocUnit">
                            <div class="row">
                                <div class="col-xs-2 text-right">
                                    <label translate>Titre</label>
                                </div>
                                <div class="col-xs-10 text-center">
                                    <span>{{::digitalDocument.docUnit.label}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
                <!-- Fin info UD -->
                <div style="padding: 10px">
                    <div class="row">
                        <label translate>Erreurs</label>
                        <ui-select multiple ng-model="select.selectedErrors" theme="select2" on-select="" on-remove="" class="form-control">
                            <ui-select-match placeholder="{{::'Erreurs' | translate}}">{{$item.value}}</ui-select-match>
                            <ui-select-choices group-by="groupErrorLabels" repeat="item in options.errors track by item.key">
                                <div ng-bind-html="item.value"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="row text-center">
                        <button type="button" class="btn btn-sem2" ng-click="goToPageCheck()">
                            <span translate>Contrôles pages</span>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sem4" ng-click="reject()" ng-hide="rejected">
                                <span translate>Rejeter</span>
                                <span class="glyphicon-regular remove"></span>
                            </button>
                            <button type="button" class="btn btn-sem2" ng-click="accept()" ng-hide="rejected">
                                <span translate>Accepter</span>
                                <span class="glyphicon-regular ok"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inclusion modal images-->
<div class="row" ng-include src="'scripts/app/document/modals/fileDisplay.html'"></div>
