<div class="row layout-columns">
    <div class="col-sm-9 col-layout-columns">
        <div class="panel panel-column-1">
            <div class="panel-heading">
            </div>
            <div class="panel-body" style="overflow-x: hidden; overflow-y: hidden; padding: 0 0 0 0;">
<!--                 <div class="row" > -->
                    <!-- image here-->
<!--                     <div class="col-md-12" style="text-align: center;" ng-show="loaded"> -->
<!--                         <img class="img-responsive" style="max-height:85vh; display:block; margin: 0 auto" ng-src="{{selectedImage}}"/> -->
<!--                     </div> -->
 				<!-- Integration viewer -->
				<a ng-include src="'scripts/app/viewer/vision.html'" width="100%" height="98%" ></a>
<!--                 </div> -->
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-sm-offset-9 col-layout-columns">
        <div class="panel panel-column-2 panel-column-end">
            <div class="panel-heading">
                <span translate>Contrôles du document numérique</span>
            </div>
            <div class="panel-body">
                <!-- Début infos UD -->
                <uib-accordion>
                    <div class="formBlock margin-t0">
                        <div class="formBlockTitle" ng-click="accDocUnit = !accDocUnit">
                            <span class="glyphicon-halflings"
                                  ng-class="{false: 'glyphicon-chevron-right',
                                             true: 'glyphicon-chevron-down'}[accDocUnit]"></span>
                            <span translate>Unité documentaire :&nbsp;</span>{{::digitalDocument.docUnit.pgcnId}}
                        </div>
                        <!-- Infos cachées lorsque l'accordion est replié -->
                        <div class="formBlockContent margin-t0" uib-accordion-group is-open="accDocUnit">
                            <div class="row">
                                <div class="col-xs-2 text-right">
                                  <label translate>Titre</label>
                                </div>
                                <div class="col-xs-10 text-center">
                                  <span>{{::digitalDocument.docUnit.label}}</span>
                                </div>
                            </div>
                       </div>
                    </div>
                </uib-accordion>
                <!-- Fin info UD -->
                <div style="padding: 10px" ng-show="loaded">
                    <div class="row">
                        <h6>
                            <a ng-click="back()">
                                <span class="glyphicon-halflings glyphicon-chevron-left"></span> {{ ::'Revenir au contrôle global' | translate }}
                            </a>
                        </h6>
                    </div>
                    <div class = "row text-center">
                        <h5 translate>Notes de numérisation</h5>
                        {{data.digitizingNotes}}
                    </div>
                    <div class = "row text-center">
                        <h5 translate>Notes de contrôle</h5>
                    </div>
                    <div class = "row">
                        <textarea class="form-control" rows="4" ng-model="data.checkNotes"></textarea>
                    </div>

                    <div class = "row text-center">
                        <label translate>Erreurs</label>
                    </div>
                    <div class = "row">
                        <ui-select multiple ng-model="select.selectedErrors" theme="select2" on-select="" on-remove="" class="form-control">
                            <ui-select-match placeholder="{{::'Erreurs' | translate}}">{{$item.value}}</ui-select-match>
                            <ui-select-choices group-by="groupErrorLabels" repeat="item in options.errors track by item.key">
                                <div ng-bind-html="item.value"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="text-center" style="position: absolute; bottom: 0;" ng-if="!complete">
                        <div class="btn-group">
                            <button type="button" ng-disabled="isFirstPage()" class="btn btn-sem2" ng-click="previousPage()">
                                <span class="glyphicon-regular chevron-left"></span>
                            </button>
                            <button type="button" class="btn btn-sem2" ng-click="nextPage()">
                                 <span class="glyphicon-regular chevron-right"></span>
                            </button>
                        </div>
                    </div>
                    <div class="text-center" style="position: absolute; bottom: 0;" ng-if="complete">
                        <div class="btn-group">
                            <!--<button type="button" class="btn btn-sem2" ng-click="reject()">-->
                                <!--<span class="glyphicon-regular remove"></span>-->
                                <!--<span>Rejeter</span>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-sem2" ng-click="accept()">-->
                            <!--<span>Accepter</span>-->
                            <!--<span class="glyphicon-regular ok"></span>-->
                            <!--</button>-->
                            <button type="button" class="btn btn-sem2" ng-click="done()">
                                <span translate>Terminé</span>
                                <span class="glyphicon-regular ok"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
