<div class="row layout-columns">
    <!-- Filtres -->
    <div ng-include="'scripts/components/templates/common/filters.html'"></div>
    <div class="col-sm-4 col-layout-columns" ng-keydown="navigate($event)" tabindex="0">
        <div class="panel panel-column-2 panel-column-first">
            <div class="panel-heading">
                <div class="pull-right">
                    <button type="button" class="btn btn-sem2 btn-xs" ng-click="reinitFilters(true)" uib-tooltip="{{::'Réinitialiser les filtres de la recherche' | translate}}" tooltip-append-to-body="true">
                        <span class="glyphicon-halflings glyphicon-refresh"></span>
                    </button>
                    <button type="button" class="btn btn-sem2 btn-xs" uib-tooltip="{{::'Créer' | translate}}" tooltip-append-to-body="true" sem-roles-allowed="DOC_UNIT_HAB1" ng-click="create()">
                        <span class="glyphicon-halflings glyphicon-plus"></span>
                    </button>
                </div>
                <div class="input-group padding-r20">
                    <input class="form-control sem-input-xs" type="text" id="nameSearchInput" ng-model="filterWith" ng-keypress="applyFilter(filterWith, $event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sem2 btn-xs" ng-click="doFilter()" uib-tooltip="{{::'Rechercher' | translate}}" tooltip-append-to-body="true">
                            <span class="glyphicon syrtis-icon-loupe"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="panel-body" when-scrolled="nextPage()">
                <div
                    ng-show="pagination.totalItems + newEntities.length > 0 && !pagination.busy"
                    class="well well-sm"
                    translate
                    translate-n="pagination.totalItems + newEntities.length"
                    translate-plural="{{$count}} notices trouvées"
                >
                    1 notice trouvée
                </div>

                <!-- entités récemment créés -->
                <div ng-show="newEntities.length > 0" class="col-infinite-scroll">
                    <div class="pagination-break" translate>Récemment créés</div>
                    <div ng-repeat="entity in newEntities">
                        <div class="list" ng-class="{active: entity._selected}">
                            <a ng-click="edit(entity, $index, true)"> <span class="second">[{{entity.docUnit.pgcnId}}]</span>&nbsp;<span class="principal">{{entity.title}}</span> </a>
                        </div>
                    </div>
                </div>

                <div class="well" ng-show="pagination.totalItems === 0 && newEntities.length === 0 && !pagination.busy" translate>Aucune notice n'a été trouvée</div>

                <div>
                    <div ng-repeat="entity in pagination.items" class="col-infinite-scroll">
                        <div ng-show="$index === 0 || getFirstLetter(entity.docUnit.label) != getFirstLetter(pagination.items[$index-1].docUnit.label)" class="pagination-break">{{entity.title|initial:'OTHER'}}</div>
                        <div class="list" ng-class="{active: entity._selected}">
                            <a ng-click="edit(entity, $index)"> <span class="second">[{{entity.docUnit.pgcnId}}]</span>&nbsp;<span class="principal">{{entity.title}}</span> </a>
                        </div>
                    </div>
                    <div ng-show="pagination.busy" class="well well-sm" translate>Chargement en cours...</div>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="entityInclude"></ng-include>
</div>
